<div class="sales-container">
  <h2 class="sales-heading">Ventas</h2>
  <button (click)="navigateToCreateProduct()">Crear Producto</button>

  <div class="sales-list">
    <div class="sales-item" *ngFor="let producto of data">
      <div class="sales-item-details">
        <h3 class="sales-item-title">{{ producto.nombre }}</h3>
        <p class="sales-item-description">{{ producto.descripcion }}</p>
        <img [src]="producto.imagen" alt="Imagen del Producto">
      </div>
      <div class="sales-item-price">{{ producto.precio }}</div>
      <button (click)="deleteProduct(producto.id)">X</button>
    </div>
  </div>
</div>
